<div class="container-fluid">
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand"  >
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      
    </a>
    <div class="nav justify-content-end">
      <ul class="nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"></li>
        <a class="nav-link"  role="button" routerLink="crearfruta" (click)="goCrear()">
          <i class="material-icons" style="font-size: 30px; ">
          add
          </i></a>
         
      </ul>    

    </div>
     </nav>
    
</div>
<router-outlet></router-outlet>